params {
    mgf = "/workspaces/microbe_masst/files/allMS2Spec2024-11-27_neg.mgf"
    features = "/workspaces/microbe_masst/files/neg_viewerTable.tsv"
    out_dir = "/workspaces/microbe_masst/files/test_mai_nextflow"
    ann_level = 0
    min_ions = 7
    filter_by_annotation = null 
    consensus_only = null
    
}
//test so that we dont need to rerun from everything out_microbeMasst = "/workspaces/microbe_masst/pipeline/work/c0/60f07363571c69907dee0e47ee6484/results"


def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
report{
    enabled = true
    file = "${params.out_dir}/pipeline_info/execution_report_${trace_timestamp}.html"
}


/* nextflow main.nf --mgf /workspaces/microbe_masst/files/test_microbe_neg.mgf --out_dir /workspaces/microbe_masst/output/params_test --ann_level 1  */