params {
    mgf = "/workspaces/microbe_masst/files/test_microbe_neg.mgf"
    features = "/workspaces/microbe_masst/files/neg_viewerTable.tsv"
    out_dir = "/workspaces/microbe_masst/output/test_annlevel3"
    ann_level = 3
    min_ions = 5
}

/* nextflow main.nf --mgf /workspaces/microbe_masst/files/test_microbe_neg.mgf --out_dir /workspaces/microbe_masst/output/params_test --ann_level 1  */