params {
    mgf = "/workspaces/microbe_masst/files/allMS2Spec2024-11-27_neg.mgf"
    features = "/workspaces/microbe_masst/files/neg_viewerTable.tsv"
    out_dir = "/workspaces/microbe_masst/output/test_27.12"
    ann_level = 4
    min_ions = 3
    filter_by_annotation = null 
    consensus_only = null
    sample_species = "/workspaces/microbe_masst/files/Bacterial_strain_ID.xlsx"
    expression_table = "/workspaces/microbe_masst/files/neg_expression.tsv"
    
}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
report{
    enabled = true
    file = "${params.out_dir}/pipeline_info/execution_report_${trace_timestamp}.html"
}


/* nextflow main.nf --mgf /workspaces/microbe_masst/files/test_microbe_neg.mgf --out_dir /workspaces/microbe_masst/output/params_test --ann_level 1  */
/* aktueller test: nextflow main.nf --ann_level 4  --min_ions 7 --filter_by_annotation --consensus_only */

/* nextflow main.nf --mgf /workspaces/microbe_masst/files/allMS2Spec2024-11-27_neg.mgf --filter_by_annotation --consensus_only 
    --features "/workspaces/microbe_masst/files/neg_viewerTable.tsv" --out_dir "/workspaces/microbe_masst/output/neg"
    --expression_table "/workspaces/microbe_masst/files/neg_expression.tsv" */

/* nextflow main.nf --mgf /workspaces/microbe_masst/files/allMS2Spec2024-11-27_pos.mgf --filter_by_annotation --consensus_only 
    --features "/workspaces/microbe_masst/files/pos_viewerTable.tsv" --out_dir "/workspaces/microbe_masst/output/pos"
    --expression_table "/workspaces/microbe_masst/files/pos_expression.tsv" */